html, body {
  background-color: #C9D8EE;
  color: #060C13;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.root-page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1000px;
  margin: 2rem auto 0;
}

.site-header {
  background-color: #ECF1F9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;

  nav {
    align-items: right;
    
    a {
      margin-right: 1rem;

      &:last-child  {
        margin-right: 0;
      }
    }
  }
}

.main-content {
  background-color: #ECF1F9;

  section {
    border-bottom: 4px solid #C9D8EE;
    padding: 0 2rem 2rem;
  }

  .section-hero {

    h1 {
      font-size: 3rem;
      margin-bottom: 0;
    }

    h2 {
      font-size: 1.5rem;
      margin: 0;
      color: #0f766e;
    }

    nav {
      svg {
        color: #060C13;
        vertical-align: center;
      }

      a {
        display: inline-block;
        margin-right: 1.5rem;
        color: #060C13;
        text-decoration: none;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: #0f766e;
          
          svg {
            color: #0f766e;
          }
        }
      }
    }
  }

  .section-ability-scores {
    display: flex;
    flex-wrap: wrap;

    h2 {
      flex: 1 1 100%;
    }

    .card-info {
      flex: 1 1 50%;
      display: flex;

      svg {
        height: 30px;
        flex-basis: 30px;
        margin-right: 0.5rem;
        color: #0f766e;
      }

      h3 {
        margin-top: 0;
      }
    }
  }

  .attack-table {
    display: flex;
    flex-wrap: wrap;

    h2 {
      flex: 1 1 100%;
    }

    div {
      flex: 1;
      border: 1px solid #C9D8EE;
      border-radius: 12px;
      padding: 1.5rem;
      margin-right: 1.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .character-background {

    .experience-card {
      margin-bottom: 2rem;

      h3 {
        color: #0f766e;
        margin: 0;
      }

      span {
        font-weight: bold;
      }
    }

    .skills span {
      display: inline-block;
      background-color: #0f766e;
      color: #ECF1F9;
      padding: 0.25rem 0.5rem;
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      border-radius: 4px;
    }
  }
}

.site-footer {
  background-color: #ECF1F9;
  padding: 1rem 2rem;
  text-align: center;
  font-size: .75rem;
}
